body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #38bdf8;
}

.container {
    width: 400px;
    margin: 100px auto;
}

/* O MODAL SERA ESTILIZADO AQUI    */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  background: #fff;
  width: 400px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 22px;
}

.modal-text{
  background-color: #38bdf8;
  color: red;
}

.table-users {
  width: 100%;
  border-collapse: collapse;
}

.table-users th,
.table-users td {
  border: 1px solid #ffffff;
  padding: 8px;
}

.table-users th {
  background-color: #d10000;
  text-align: left;
}

.btn-voltar {
  display: inline-block;
  margin-top: 20px;
}
.modal-user {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
}

.modal-user-content {
  background: #fff;
  width: 400px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
}

.close-user {
  float: right;
  cursor: pointer;
  font-size: 22px;
}


