
<!DOCTYPE html>
<html lang="pt">
<head>
   
    <title>Document</title>
</head>
<h1>Seja bem vindo</h1>

<body>

    <h3> Cadastrar Usuario</h3>

    <button id="openModal">Criar Usuario</button>


<div id="modal" class="modal">
    <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>

       

        <form action="/dashboard/usuarios" method="POST">
            <form action="/dashboard/usuarios" method="POST">
  <p class="modal-text">Cadastro de Usuario</p>

  <input type="text" name="nome" placeholder="Nome" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="text" name="telefone" placeholder="Telefone" required>
  <input type="text" name="endereco" placeholder="Endereco Obra" required>
  <input type="text " name="Obra" placeholder="Nome ou Id obra" required>

  <button type="submit">Salvar</button>
</form>

           
        </form>

       
    </div>
</div>

 
 <div class="users-cadastros">
     <a href="/dashboard/tablesusers" class="btn-usersCadastro">
                ver Usuarios Cadastrados
            </a>
 </div>


<script src="/js/modal.js"></script>

</body>
</html>



