<h2>Login rp-empreendimentos</h2>

<form action="/login" method="POST">
    <label>Email:</label>
    <input type="email" name="email" placeholder="Email">

    <label>Senha:</label>
    <input type="password" name="password" placeholder="Senha">

    <button type="Submit">Entrar</button>
</form>